<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.attendance.ai.smart">


    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android  .permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:testOnly="false"

        android:theme="@style/Theme.SmartAttendance">
        <activity android:name=".splash_screen"
            tools:ignore="MissingClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".LogIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendance"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendance"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".AdminLogIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendanceNoActionBar"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".UserLogIn"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendanceNoActionBar"
            tools:ignore="Instantiatable" />


        <activity android:name=".AdminSetupForFaceRecog"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText"/>

        <activity android:name=".UserSetupForFaceRecog"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText"/>

        <activity android:name=".RegisteredEmployees"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText"/>

        <activity android:name=".AttendanceView"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText"/>

        <activity android:name=".EmployeesMonthYrRecords"
            tools:ignore="ExtraText"/>

        <activity android:name=".EmployeesAttendanceSettings"
            android:screenOrientation="portrait"
            tools:ignore="ExtraText"/>

        <activity android:name=".About"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendance"
            tools:ignore="ExtraText"/>

        <activity android:name=".UserInstructions"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendance"
            tools:ignore="ExtraText"/>

        <activity android:name=".ServiceNotSupported"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SmartAttendance"
            tools:ignore="ExtraText"/>


    </application>

</manifest>